@import '../../variables.scss';

.profile_preview_ {
    
    &_wrapper {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 30%;
        border: 1px solid black;
        border-radius: 20px;
        overflow: hidden;
    }

    &_header {
        display: flex;
        flex: 1;
        width: 100%;
        background-color: red;
        &::after{
            content: "";
            display: block;
            border-radius: 50px;
            width: 30%;
            height: 50px;
            background-color: blue;
        }
    }

    &_body {
        flex: 1;
        display: flex;
        width: 100%;
        background-color: white;
        
    }
   
   
    
}