.container {
  padding: 20px 15px;
  .profile-preview-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  /* TABLET */
  @media screen and (min-width: 481px) and (max-width: 1024px) {
    .profile-preview-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  /* MOBILE */
  @media screen and (max-width: 480px) {
    .profile-preview-grid {
      grid-template-columns: 1fr;
    }
  }
}
