@import '../../variables.scss';

.footer {
  width: 100%;
  height: auto;
  padding: 10px;
  display: block;
  background: $secondary-color;
  margin: 0;

  &__links {
    &__list {
      list-style-type: none;
      text-align: center;
      margin: 0;

      &__item {
        list-style-type: none;
        display: inline-block;
        position: relative;

        &__bullet {
          position: absolute;
          width: 10px;
          height: 10px;
          background: $accent-color;
          border-radius: 15px;
          top: 30px;
          right: -5px;
        }

        a {
          padding: 10px;
          color: $accent-color;
          cursor: pointer;
          text-decoration: none;
          -webkit-transition: ease-in-out .2s;
          -o-transition: ease-in-out .2s;
          transition: ease-in-out .2s;

          &:hover {
            background: $accent-color;
            color: $secondary-color;
          }
        }
      }
    }
  }

  &__copyright {
    display: block;
    text-align: center;
    color: $accent-color;
    opacity: .5;
  }
}